# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
*.egg-info/
.eggs/

# Explicitly ignore backend paths
/backend/**/__pycache__/
/backend/**/*.py[cod]
/backend/**/chroma_db/
/backend/**/uploads/
/backend/**/textracted/
/backend/secrets/
/backend/src/selfcareassistant-99a02733eae9.json

# Poetry
/backend/poetry.lock

# React
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/coverage
/frontend/build
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*~

# Chroma
/data/chroma_db/

# Raw documents
/data/raw-documents/

# Uploads
/backend/chroma_db/

# Chroma


# General
.env
*.log

# Docker
.dockerignore

# Uploads
/backend/uploads/